<div class="container">
<div class="row" class="text-center" >
 
<h3>Galeria de Fotos</h3>
    
<div class="lightbox-gallery">
        <div><img src="../../../assets/Imagen/anime.jpeg" style="height: 400xp; width:400px"></div>
        <div><img src="../../../assets/Imagen/Sapo pepe.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/Trapo.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/Unicornio bebe.jpg" style="height: 400xp; width:400px"></div>
        <div><img src="../../../assets/Imagen/Unicornio.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/Jirafita.jpg" style="height: 400xp; width:400px"></div>
    </div>
  </div>

<div class="text-center github-link">
  
 
</div>
