<section id="galeria">
  <div>
    <h3>Galeria de Fotos</h3>
  </div>
   
  <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
    <div class="row py-3 shadow-5">
      <div class="col-3 mt-1">
        <div class="lightbox">
          <img
            src="../../../assets/Imagen/Elsa.jpeg"
            alt="Gallery image 1"
            class="ecommerce-gallery-main-img active w-100"
          />
        </div>
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/Gatito.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/Chimuelo.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
          alt="Gallery image 2"
          class="w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/Harry Potter.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
          alt="Gallery image 3"
          class="w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/Hermioner.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
          alt="Gallery image 4"
          class="w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/dino y gorro.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/Llaverito Frida.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/blancanieves.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/sonic.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/frozen.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/gatito blanco.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/jirafita bebe.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/llavero buho.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/ojoso.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/parejita.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/pikachu.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/jimin.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/osito.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/polar.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
      <div class="col-3 mt-1">
        <img
          src="../../../assets/Imagen/pulpito apego.jpeg"
          data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
          alt="Gallery image 1"
          class="active w-100"
        />
      </div>
    </div>
  </div>
</section>

   
