<div class="container">
    <h2 class="text-center">Galeria de Fotos</h2>
    <div class="lightbox-gallery">
        <div><img src="../../../assets/Imagen/anime.jpg" style="height: 400xp; width:400px"></div>
        <div><img src="../../../assets/Imagen/Sapo pepe.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/Trapo.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/Unicornio bebe.jpg" style="height: 400xp; width:400px"></div>
        <div><img src="../../../assets/Imagen/unicornio.jpg" style="height: 400xp; width:400px" ></div>
        <div><img src="../../../assets/Imagen/jirafa.jpg" style="height: 400xp; width:400px"></div>
    </div>
  </div>

<div class="text-center github-link">
  
  <a class="github-link" href="https://github.com/humbl3man/lightboxify" target="_blank"><i class="fa fa-github"></i> Github Source Code</a>
  
</div>
