<nav class="navbar navbar-expand-sm bg-warning navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" class="navbar-left"><img src="../../../assets/Imagen/logocorazon.jpeg" height="120" width="180"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#carrusel">Bienvenidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#galeria">Galeria de Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>