<nav class="navbar navbar-expand-sm bg-warning navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="btn btn-warning btn-lg active" role="button">Bienvenidos</a>
        </li>
       <li class="nav-item">
         <a href="#galeria" class="btn btn-warning btn-lg active" role="button">Galeria de Fotos</a>
         <a href="../punto2/punto2.component.html" a></a>
       </li>
        <li class="nav-item">
          <a href="#" class="btn btn-warning btn-lg active" role="button">Patrones</a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-warning btn-lg active" role="button">Contacto</a>
        </li>
      </ul>
    </div>
        </nav>
